#app {
  border: 2px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-main {
  border: 2px solid black;
  width: 30%;
  height: 75%;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  height: 25px;
  width: 25px;
}
